.header {
  background-color: #2d2d62;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 15px 100px;
  margin-bottom: 20px;
  &__settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.logo {
  display: inline-flex;
  align-items: center;

  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    color: white;
    &--inverse {
      color: black;
    }
  }

  &--spaced {
    padding: 20px 0;
  }
}

.native-select--light {
  position: relative;
  top: 2px;
  background-color: white;
  padding-left: 3px;
}

.nav-link {
  position: relative;
  top: 2px;
  &-spacer {
    padding: 0 0.6rem;
    font-weight: bold;
  }
  &--white {
    color: #fff;
  }
  // TODO
  // &:hover {
  //   color: #000000;
  // }
}
